.no-image {
    background-color: grey;
    width: 200px;
    height: 250px;
}

.inline {
    display: inline !important;
}

.clear {
    clear: both !important;
}

.flashes {
    list-style: none;
    padding: 0;
}

/* This is required when not using the href attribute on an <a> tag.
    Since we're using HTMX, we no longer use the href attribute. */
a {
    cursor: pointer;
}